@import "../../../../load-theme.scss";

.side-slide-container{
    position: fixed;
    height: 100%;
    top: 56px;
    bottom: 0em; 
    display: block;
    z-index: 1000;
}
.side-slide-container.right{
    right: 0em;
    
}
.side-slide-container.left{
    left: 0em;
}

.side-slide-container.menu-right-full{
    top: 0em;
}

.side-slide-move{
    position: relative;
    height: 100%;
    top: 0em;
    bottom: 0em;
    width: 100%;
    display: block;
    // background-color: rgba(255, 255, 255, 1);
}

.side-slide-title{
    height: 2.5rem;
    color: mat-color($accent);
    position: absolute;
    z-index: 100;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-left: 3rem;
}
.side-slide-title .mat-button{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: -0.5rem -0.2rem;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    min-width: 0;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    flex-shrink: 0;
    position: absolute;
    left: 0.5em;
    box-shadow: none;
}
.side-slide-body{
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 3.6rem;
    z-index: 10;
    overflow: auto;
    padding-bottom: 20%;
}

.menu-right-modal{
    position: fixed;
    top: 56px;;
    left: 0;
    right: 0;
    height: 120vh;
    // background-color: rgba(0, 0, 0, 0.5);
    z-index: 1020;
    will-change: opacity;
}
.menu-right-full .menu-right-modal{
    top: 0;
}

.shadow-bottom-hover{
    box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}

.left-shadow{
    box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow:  -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}

.right-shadow{
    box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}

.right .content-body{
    padding-right: 1.5rem !important;
    padding-bottom: 15%;    
}
.left .content-body{
    padding-left: 1.5rem !important;
    padding-bottom: 15%;    
}
.mat-card{
    padding: 0rem !important;
    border-radius: 0rem !important;
}

