.mat-progress-bar{
  height: 0.2rem !important;
  top: 0rem;
  position: fixed;
  z-index: 1100;
}
.hiden{
  opacity: 0;
}
.back-toolbar{
  height: 3.8rem;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  background-color: transparent;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  height: 3.5rem !important;
  position: fixed;
  padding: 0rem !important;
  margin-bottom: 30rem;
  z-index: 900;
  top: 0rem;
  .btn-menu{
    margin: 0rem 0.5rem;
  }
}

.mat-toolbar-multiple-rows{
  min-height: 3.5rem !important;
}

.example-container {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer-container{
    background-color: transparent !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font-weight: 700 !important;
  font-size: 1rem;
}

.logo-marca, .titulo-pagina{
  padding: 0.5rem;
  display: flex;
}

.titulo-pagina{
  font-size: 1.2rem !important;
  font-weight: 500;
}

.menu-right{
  font-size: 1rem;
  font-weight: 500 !important;
  right: 1rem;
  position: absolute;
  button{
    min-width: 1rem;
    padding: 0 0.5rem;
  }
  .notRead, .mat-menu-item.not-read{
    .material-icons, span{
      font-weight: 600 !important;
    }
  }
}
.mat-menu-item.not-read{
  font-weight: 600 !important;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0.2rem !important;
}

.menu-titulo{
  width: 20rem; 
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: -1rem;
}

.mat-drawer:not(.mat-drawer-side){
  background-color: rgba(242, 242, 242, 1);
}

.mat-drawer-inner-container{
  width: 18rem !important;
}