.container-fast-info{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icon-fast-info{
    margin: 0rem 0.5rem;
    .material-icons{
        position: relative;
        font-size: 2.6rem;
        top: 0.25rem;
        margin: -0.3rem 0rem;
    }
}
.body-fast-info{
    text-align: right;
    .title-body-fast-info{
        font-size: 0.9rem;
        font-weight: 500;
    }
    .label-body-fast-info{
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.content-fast-info{
    width: 100%;
}

@media (max-width: 780px) {
    .container-fast-info{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .icon-fast-info{
        .material-icons{
            font-size: 2rem;
            top: 0.25rem;
            margin: -0.4rem 0rem;
        }
    }
    .body-fast-info{
        text-align: right;
        .title-body-fast-info{
            font-size: 0.75rem;
        }
        .label-body-fast-info{
            font-size: 1.2rem;
        }
    }
}