<div [ngClass]="{'side-slide-hiden': !_isShow, 'menu-left-full': full, 'right-shadow': isCroll, 'dark': dark}"
  class="side-slide-container animate left">
  <div class="mat-elevation-z8 side-slide-move animate" @ngIfSlideInLeft>
    <button *ngIf="_isShow" mat-button  (click)="closeClick()" 
    class="button-close-menu-left shadow-bottom-hover" @ngIfScaleIn @ngIfScaleOut>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div *ngIf="title" class="side-slide-title-left left-align {{titleClass}}" [class.shadow-bottom-hover]="isScroll">
      <span >
        {{title | translate}}
      </span>
    </div>
    <div *ngIf="bgImageTop" class="image-background-top">
        <div *ngIf="_isShow" class="img-top shadow-bottom-hover" [ngStyle]="{'background-image': 'url(' + bgImageTop + ')'}" @ngIfScaleIn @ngIfScaleOut>

        </div>
    </div>
    <div class="side-slide-body" (scroll)="scrollSlideBody($event)"
        [ngStyle]="{'background-color': bgColor}">
      <div class="bg-image-menu-side" [ngStyle]="{'background-image': 'url(' + bgImage + ')'}"></div>
      <div class="row" [class.float-slider-body]="bgImageTop">
        <div class="col s12 content-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_isShow && modal" class="menu-left-modal" (click)="closeClick();" @ngIfFade @ngIfFadeOut><div>