<mat-card>
  <div class="container-table">
    <div class="shadow-left right-shadow animate" [class.show]="showShadowLeft"></div>
    <div class="shadow-right left-shadow animate " [class.show]="showShadowRight"></div>
    <div #bodyTable class="body-table" (scroll)="scrollTable($event.target)" (resized)="resizeBody()"
      [style.height]="height">
        <table class="animate {{addClass}} table-size-{{size}}">
          <thead [ngClass]="{'table-float-head': height || headFixed, 'shadow-bottom-hover mat-card': scrollHeadDown}"
               [style.top]="scrollTop + 'px'">
            <tr *ngIf="data" class="title-{{titleClass}}">
              <th *ngFor="let head of heads" (click)="head.sort && setSort(head.field)" class="th-titulo {{head.addClass}}"
                [style.width]="head.width" [ngStyle]="{'text-align': head.align,'width': head.width, 'min-width': head.minWidth}"
                [ngClass]="{'th-mouse-hover': head.sort, 'active-th': inSort(head.field)}">
                <div class="th-table truncate" [ngStyle]="{'text-align': head.align,'width': '100%'}">
                  {{head.label | translate}}
                  <i *ngIf="head.sort && inAsc(head.field)" class="material-icons" @ngIfSlide>arrow_upward</i>
                  <i *ngIf="head.sort && inDesc(head.field)" class="material-icons" @ngIfSlide>arrow_downward</i>
                </div>
              </th>
            </tr>
            <tr *ngIf="list || !data" class="title-{{titleClass}}">
              <th *ngFor="let head of heads" class="th-titulo {{head.addClass}}" [ngStyle]="{'text-align': head.align,'width': head.width, 'min-width': head.minWidth}">
                <div class="th-table truncate">
                  <span *ngIf="head.label" class="truncate" [ngStyle]="{'text-align': head.align,'width': '100%'}">
                    {{head.label | translate}}
                  </span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="tbody-msg-drop-drag">
            <div #divFixedRow></div>
            <tr *ngFor="let item of list || data && data.list" class="animate" [class.th-mouse-hover]="isSelected" (click)="clickRow(item)"
              [class.tr-selected]="item && item.selected">
              <td *ngFor="let head of heads" class="truncate {{head.addClass}}" [ngClass]="{'icon-table': head.icon && !head.btn && !head.image, 'btn-table': head.btn, 'image-table': head.image}"
                [ngStyle]="{'text-align': head.align,'width': head.width, 'min-width': head.minWidth, 'max-width': head.maxWidth}">
                <span *ngIf="head.field" class="truncate">
                  {{getValueField(item, head)}}
                </span>
                <i *ngIf="head.icon && !head.btn && !head.image" class="material-icons {{head.iconClass}} icon-size-{{size}}" flat="true">{{item[head.icon] || head.icon}}</i>
                <img *ngIf="head.image && !head.btn" [src]="item[head.image] || head.image" alt="" class="mat-elevation-z2 {{imageClass}} image-size-{{size}}">
                <button [disabled]="head.btnDisabled" *ngIf="head.btn" mat-button (click)="clickBtn(head, item);"
                  [matTooltip]="head.btnTooltip" [matTooltipPosition]="head.btnTooltipPosition || 'bottom'">
                  <mat-icon>{{head.icon}}</mat-icon>
                </button>
              </td>
            </tr>
            <tr *ngIf="notRecord() && initFirst" @ngIfScaleIn>
              <td [colSpan]="heads ? heads.length : 0">
                <div class="col s12 center">{{"NOT_RECORDS_FOUND" | translate}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf=" !infinity && data && data.list && data.list.length > 0 && data.limit && data.page" class="table-footer right-align">
          <div class="right-align linhas-por-paginas">{{"LIMIT" | translate}}:</div>
          <mat-form-field class="col-10 select-limit" color="accent">
            <mat-select [(ngModel)]="data.limit" (selectionChange)="setLimit($event)">
              <mat-option *ngFor="let l of limits" [value]="l">{{l}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="range-page">
            <div >
              {{data.rangeInit}} / {{data.rangeEnd}}
            </div>
            <div class="lowercase">
              {{"OF" | translate}}
            </div>
            <div class="total-rows">
              {{data.qtdTotal}}
            </div>
          </div>
          <button mat-button [disabled]="!data.qtdTotal || data.qtdTotal <= 0" (click)="reload()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-button [disabled]="!data.page || data.page <= 1" (click)="pageBack()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-button [disabled]="!data.totalPages || data.page >= data.totalPages" (click)="pageNext()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      <ng-template #nenhumResultado>
        <div @ngIfScaleIn>
          <div class="col s12 center padding">{{"NOT_RECORDS_FOUND" | translate}}</div>
        </div>
      </ng-template>
    </div>
  </div>
</mat-card>