@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warning: mat-palette($mat-red);
$safrasystem-web-theme: mat-light-theme($primary, $accent, $warning);
$safrasystem-web-theme-dark-primary: mat-dark-theme($primary, $accent);
.primary{
    background-color:  mat-color($primary) !important;
    color: rgba(255, 255, 255, 0.8) ;
    & * {
        color:rgba(255, 255, 255, 0.8);
    }
}
.accent{
    color: rgba(255, 255, 255, 0.8) ;
    background-color:  mat-color($accent) !important;
    & * {
        color:rgba(255, 255, 255, 0.8);
    }
}
.warning{
    color: rgba(255, 255, 255, 0.6) ;
    background-color:  mat-color($warning) !important;
    & * {
        color:rgba(255, 255, 255, 0.8);
    }
}
.color-primary{ color: mat-color($primary) !important;};
.color-accent{ color: mat-color($accent) !important;};
.color-warning{ color: mat-color($warning) !important;};

.default{
    color: #fff;
}
@include angular-material-theme($safrasystem-web-theme);

.dark-primary-pink{
    @include angular-material-theme($safrasystem-web-theme-dark-primary);
}