<form [formGroup]="formContactType">
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content class="col s12">
    <div class="col s12">
        <m-input [ctrl]="name" placeholder="NAME" maxlength="60"></m-input>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>
      <mat-icon>close</mat-icon> Cancelar
    </button>
    <button mat-button *ngIf="!id.value" (click)="save()" [disabled]="formContactType.invalid">
      <mat-icon>save</mat-icon>
      {{"SAVE" | translate}}
    </button>
    <button mat-button *ngIf="id.value" (click)="edit()" [disabled]="formContactType.invalid">
      <mat-icon>edit</mat-icon>
      {{"EDIT" | translate}}
    </button>
  </mat-dialog-actions>
</form>